{
    "server": {
        "protocol": "http",
        "port": 8000,
        "ssl": {
            "key": "",
            "certificate": ""
        },
        "apiDoc": false
    },
    "log": {
        "level": "debug",
        "file": {
            "path": "/home/sah0318/WorkSpace/Desk/works/log",
            "name": "fizzBuzzTrace",
            "maxSize": 10240000,
            "maxFiles": 7
        },
        "jsonFormat": "raw/json"
    },
    "monitor": {
        "enable": true
    }
}
